.input {
    padding:15px 0px 15px 25px ;
    outline: none;
    border: 1px solid var(--black-input);
    border-radius: 5px;
    font-weight: var(--medium-weight);
    width: 100%;
    margin-top: 10px;
}

@media screen and (max-width:800px) {
    input {
        width: 80% !important;
    }
}

@media screen and (max-width:556px) {
    input {
        width: 90% !important;
    }
}